/*Header*/
.header
{
	display:block;
	position:inherit;
	background: #43678e;
	background:linear-gradient(to top,#6896c8,#43678e);
	border-bottom-left-radius:8px;
	border-bottom-right-radius:8px;
}

	.header div.menu, .header div.search
	{
		padding-top:0.5%;
		padding-bottom:0.5%;
	}


.logo
{
	margin-left:1%;
	display:inline;
	float:left;
	width:13%;
}

	.logo img
	{
		width:100%;
	}


.menu
{
	display:inline-block;
	width:70%;
	position:inherit;
}

	.menu ul
	{
		display:inline;
		color:white;
		position:inherit;
		width:100%;
	}

		.menu ul li
		{
			display:inline-block;
			padding:4px;
			width:14%;
			font-size:large;
		}

.search
{
	margin-top:3px;
	position:inherit;
	width:16%;
	float:left;
	text-align:center;
}

	.search input
	{
		padding-left:1%;
		width:70%;
	}

/*Main*/
.mainContainer
{
	margin-top:0.5%;
	margin-left:2.5%;
	position:inherit;
	width:94%;
	height:6%;
}